* {
  box-sizing: border-box;
}

body, h1, p {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background: #5D5B66;
  height: 120px;
  padding: 0 20px;
}

.logos {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.logoImage {
  width: 100px;
  height: 100px;
}

nav h1{
  font-family: sans-serif;
  color: white;
  font-size: 2em;
  flex: 2;
  text-align: center;
}

nav .logos:last-child {
  justify-content: flex-end;
}

.stations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.station {
  background-color: #565656;
  flex-basis: calc(33.3% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.station p {
  padding-top: 8px;
}

.country-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.country-header h2 {
  text-decoration: underline;
  text-underline-offset: 4px;
  letter-spacing: 0.2cap;
  text-align: center;
  margin-left: 15px;
}

.country-header img {
  width: auto;
  height: auto;
  max-height: 70px;
}

h3 {
  font-family: sans-serif;
  font-size: 1.5em;
}

img {
  width: 100px;
  height: 100px;
}

img.telescopeImage {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-top: auto;
}
